<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.societies.android.platform.personalisation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
        	android:name="org.societies.android.platform.personalisation.impl.PersonalisationManagerAndroidRemote"
        	android:label="SocietiesPersonalisation">
           <intent-filter>
                <action android:name="org.societies.android.platform.personalisation.impl.PersonalisationManagerAndroidRemote"></action>
   			</intent-filter>
        </service>
    </application>

</manifest>