@charset "UTF-8";
/* CSS Document */

html {  }

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}


body { margin: 0; padding: 0; font-size: 14px; font-family:Roboto-Regular;}
.ui-mobile-viewport { background-color: #0c517e; }

.ui-page { background-color: #000; }
.ui-page.ui-body-c.ui-page-active { background: none; }
.ui-page.ui-body-c.ui-page-active .ui-content { background: #fff; repeat-x 0px 0px; }
.ui-page.ui-body-c.ui-page-active .ui-content.login { background: #0c517e; repeat-x 0px 0px; }
.ui-page.ui-body-c.ui-page-active .ui-header { height: 75px; background: #000000; }
.ui-page.ui-body-c.ui-page-active .ui-header h1 { padding: 20px 0px 10px 0px; font-size: 1.4em; }


#page.ui-page.ui-body-c.ui-page-active .ui-content { background: none; }

#page { padding-top: 40px; background: #000}
#page .heading { display: none; }
#page .logo { width: 150px; height: 90px; margin: 0px auto 0px auto; background: url(../images/logo.png) no-repeat center 0px; }
#page .mainmenu {
	margin: 0px 10px 0px 10px;
	padding: 15px 15px 0px 15px;
	border: none;
}
#page .mainmenu li { background: none; border: none; }
#page .mainmenu li .ui-btn-inner { background: none; border: none; margin: 0px; padding: 0px 0px 15px 0px; }
#page .mainmenu li a {
	border: 1px solid #fff;
	border-radius: 16px;
	color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	display: block;
	background: rgba(104,35,11,.6)  url(../images/mobile_link_arrow.png) no-repeat right 50%;
	font-size: 1.15em;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 2px;
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 50px;
}

.ui-bar-a.ui-footer { background: #000; border: none; border-top: 1px solid #444; }
.ui-bar-a.ui-footer h4.ui-title { font-size: .8em; font-weight: normal; text-align: center; margin: 0px; padding: 20px 30px 20px 30px; }

.ui-content {  }

figure { width: 120px; float: right; margin: 0px 0px 20px 15px; padding: 0px 0px 0px 10px; border-left: 1px solid #ddd; }
figure figcaption { font-size: .8em; color: #777; line-height: .8em; }

{!-- Societies Styling --}

h1{
font-size:22px;	
margin-left:4px;
}

/* --------------------- Footer Styles --------------------------------- */

.footer_fixed{	
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top,  #d9d9d9 0%, #d9d9d9 36%, #cbcbcb 59%, #aeaeae 94%, #adadad 98%, #a9a9a9 99%, #adadad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(36%,#d9d9d9), color-stop(59%,#cbcbcb), color-stop(94%,#aeaeae), color-stop(98%,#adadad), color-stop(99%,#a9a9a9), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d9d9d9 0%,#d9d9d9 36%,#cbcbcb 59%,#aeaeae 94%,#adadad 98%,#a9a9a9 99%,#adadad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d9d9d9 0%,#d9d9d9 36%,#cbcbcb 59%,#aeaeae 94%,#adadad 98%,#a9a9a9 99%,#adadad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d9d9d9 0%,#d9d9d9 36%,#cbcbcb 59%,#aeaeae 94%,#adadad 98%,#a9a9a9 99%,#adadad 100%); /* IE10+ */
	background: linear-gradient(top,  #d9d9d9 0%,#d9d9d9 36%,#cbcbcb 59%,#aeaeae 94%,#adadad 98%,#a9a9a9 99%,#adadad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 -1px 9px #333;
	-webkit-box-shadow: 0 -1px 9px #333;
	box-shadow: 0 -1px 9px #333;
	
}

.footer_fixed .nav{
	list-style:none;
	margin:0;
	padding:0;
}
.footer_fixed .nav li{
	width:25%;
	float:left;
	text-align:center;
	background:#000000;
}

.footer_fixed .nav a{
	display:block;
	background:url() repeat-x;
	height:55px;
	padding:8px 0 0;
	margin:0 0 0 1px;
	text-decoration:none;
	text-shadow:none;
	color:#333;
	font-size:11px;
}
.footer_fixed .nav input{
	display:block;
	background:url() repeat-x;
	height:55px;
	padding:8px 0 0;
	margin:0 0 0 1px;
	text-decoration:none;
	text-shadow:none;
	color:#333;
	font-size:11px;
}

.footer_fixed .nav a:visited{ color:#333;}
.footer_fixed .nav a:hover,
.footer_fixed .nav .active a{
	color:#fefefe;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #0c517e 0%, #0c517e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c517e), color-stop(100%,#0c517e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* IE10+ */
	background: linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c517e', endColorstr='#0c517e',GradientType=0 ); /* IE6-9 */
}
.footer_fixed .nav input:visited{ color:#333;}
.footer_fixed .nav input:hover,
.footer_fixed .nav .active input{
	color:#fefefe;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #0c517e 0%, #0c517e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c517e), color-stop(100%,#0c517e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* IE10+ */
	background: linear-gradient(top,  #0c517e 0%,#0c517e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c517e', endColorstr='#0c517e',GradientType=0 ); /* IE6-9 */
}
.footer_fixed .nav a:active{
	color:#fefefe;
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #5A5A5A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#5A5A5A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* IE10+ */
	background: linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#5A5A5A',GradientType=0 ); /* IE6-9 */
}
.footer_fixed .nav input:active{
	color:#fefefe;
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #5A5A5A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#5A5A5A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* IE10+ */
	background: linear-gradient(top,  #333333 0%,#5A5A5A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#5A5A5A',GradientType=0 ); /* IE6-9 */
}


.btn-start .ico{ background-position:0 -1780px;}
.btn-start a:hover .ico,
.btn-start a:active .ico,
.btn-start.active a .ico{ background-position:0 -1850px;}

.btn-home .ico{ background-position:0 -1213px;}
.btn-home input:hover .ico,
.btn-home input:active .ico,
.btn-home.active input .ico{ background-position:0 -1287px;}

.btn-profile .ico{background-position:0 -1313px;}
.btn-profile a:hover .ico,
.btn-profile a:active .ico,
.btn-profile.active a .ico{ background-position:0 -1387px;}


.btn-settings .ico{ background-position:4px -1459px;}
.btn-settings a:hover .ico,
.btn-settings a:active .ico,
.btn-settings.active a .ico{ background-position:1px -1539px;}

.btn-help .ico{ background-position:2px -1615px;}
.btn-help a:hover .ico,
.btn-help a:active .ico,
.btn-help.active a .ico{ background-position:-1px -1698px;}

.btn-about .ico{ background-position:2px -1615px;}
.btn-about a:hover .ico,
.btn-about a:active .ico,
.btn-about.active a .ico{ background-position:-1px -1698px;}


.footer .text{
	display:block;
	text-transform:uppercase;
}


/*------------------------ Landing page styles --------------------- */

.logo{
   position: absolute;
   left: 50%;
   top: 0%; 
   margin-left: -90px;
   margin-top: 20px;
}


.center{
text-align:center;
margin-top:3px;
}

ul li a{
font-size:22px;
font-family:Roboto-Regular;
}

.landing_graphic{
margin:0px 0px; padding:0px;
text-align:center;
background-color:#000;
}
	
.landing_graphic img {
	margin:0px auto;
	text-align:left;
	padding:5px;
}



ul#listview li.last{
padding-bottom:10px;
}




/*------------------------ Login form styles --------------------- */

.form_wrapper{
background-color:#0c517e;
margin:0px auto;
text-align:left;
padding:10px;
}

form#login{	
margin:0px 0px; padding:0px;
text-align:center;
background-color:#0c517e;
}

form#login input{
font-family:Roboto-Regular;
height:30px;
}

.logo_login_wrapper{
background-color:#0c517e;
margin:0px auto;
text-align:center;
padding-top:100px;
}

.sign_up{
background-color:#0c517e;
margin:0px auto;
text-align:center;
padding-top:20px;
}

form#login a.ui-btn-inline{
border:.2em solid #fff;
padding-left:50px;
padding-right:50px;
}

.logo_login img{
float:left;
margin:0px 0px; padding:0px;
text-align:center;
background-color:#0c517e;
}

.sign_up{
color:#fff;
font-family:Roboto-Regular;
font-size:16px;
}

.sign_up a.ui-link{
color:#fcb040;
}


div.social {
	text-align:center;
	background-color:rgba(238,238,238,0.4);
	padding:3px;
	border:1px solid #ccc;
	-webkit-transition-duration:0.8s;
  	-moz-transition-duration:0.8s;
  	-o-transition-duration:0.8s;
  	transition-duration:0.8s;
} 

div.social:hover {
	background-color:rgba(238,238,238,1);
	border:1px solid #c1bfbf;	
}

div.social img{
margin-top:2px;

}

.terms, #create_account,.center_text{
text-align:center;
}



/*------------------------ List styles --------------------- */

.profile_pic{

float:left;
padding-right:10px;
}


.ui-btn-text 
{
font-size:18px;
position: relative;
z-index: 1;
width: 100%;
padding:0;
}

.ui-btn-inner 
{
padding-top: 5px;
padding-right: 22px;
padding-bottom: 8px;
padding-left: 22px;
min-width: 0.75em;
display: block;
text-overflow: ellipsis;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
position: relative;
}


h2{
font-size:18px;
color:#0c517e;
font-weight:bold;
}

.ui-li-thumb, .ui-listview .ui-li-icon 
{
position: absolute;
left: 10px;
top: 12px;
max-height: 80px;
max-width: 80px;

}

ul.menu{
    width:50%;
    position:absolute;
    top:75px;
    left:75px;    
    height:0px;
    overflow-y:hidden;
    transition: height 2s linear;
    -moz-transition: height 2s linear; /* Firefox 4 */
    -webkit-transition: height 2s linear; /* Safari and Chrome */
    -o-transition: height 2s linear; /* Opera */    
}

.profile_txt{
margin-left:145px;
}
