<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.societies.android.platform.gui"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"/>
    <supports-screens
                android:largeScreens="true"
                android:normalScreens="true"
                android:smallScreens="true"
                android:resizeable="true"
                android:anyDensity="true"
                />
    <!-- Review these permissions and eliminate unwanted ones -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="org.societies.android.SocialProvider.WRITE"/>
    <uses-permission android:name="org.societies.android.SocialProvider.READ"/>
    
    <!-- Traceview permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:icon="@drawable/launcher_societies"
        android:label="@string/app_name"
        android:configChanges="orientation|keyboardHidden"
        android:debuggable="true"> 
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MasterPreferences" android:label="@string/app_name" />
        <activity android:name=".AboutActivity" android:label="@string/app_name" />
        <activity android:name="org.societies.android.platform.socialdata.BridgeActivity" />
        <activity android:name="org.societies.platfrom.sns.android.socialapp.WebActivity" />
        <activity android:name="org.societies.android.platform.css.friends.AcceptFriendActivity" />
        <activity android:name="org.societies.android.platform.useragent.feedback.guis.AcknackPopup" android:label="@string/societies_Notifications" >
            <intent-filter>
                <action android:name="org.societies.android.platform.useragent.feedback.guis.AcknackPopup" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- LOCAL SERVICES -->
		<service android:name="org.societies.android.platform.servicemonitor.ServiceManagementLocal" />
		<service android:name="org.societies.android.platform.servicemonitor.ServiceUtilitiesRemote" />
		<service android:name="org.societies.android.platform.servicemonitor.CoreServiceMonitor" />
        <service android:name="org.societies.android.platform.cssmanager.ServiceCSSManagerLocal" />
        <service android:name="org.societies.android.platform.cssmanager.LocalCssDirectoryService" />
        <service android:name="org.societies.android.platform.devicestatus.LocalDeviceStatusService" />
        <service android:name="org.societies.android.platform.socialdata.SocialTokenManager" />
        <service android:name="org.societies.android.platform.socialdata.SocialData" />
        <service android:name="org.societies.android.platform.css.friends.FriendsManagerLocal" />
        <service android:name="org.societies.android.platform.css.friends.EventService" />
        <service android:name="org.societies.android.platform.useragent.feedback.UserFeedbackLocal" />
        <!-- REMOTE SERVICES -->
        <service android:name="org.societies.android.platform.cis.CisDirectoryRemote" android:label="Cis Directory Remote" >
           <intent-filter>
                <action android:name="org.societies.android.platform.cis.CisDirectoryRemote" />
   			</intent-filter>
   		</service>
		<service android:name="org.societies.android.platform.cis.CisManagerRemote" 
		    android:label="Cis Manager Remote" >
			<intent-filter>
                <action android:name="org.societies.android.platform.cis.CisManagerRemote" />
   			</intent-filter>
   		</service>
		<service android:name="org.societies.android.platform.cis.CisSubscribedRemote" 
		    android:label="Cis Subscribed Remote" >
			<intent-filter>
                <action android:name="org.societies.android.platform.cis.CisSubscribedRemote" />
   			</intent-filter>
   		</service>
        <service android:name="org.societies.android.privacytrust.policymanagement.service.PrivacyPolicyManagerLocalService" />
        <service android:name="org.societies.android.platform.personalisation.impl.PersonalisationManagerAndroidLocal" />
        <service
        	android:name="org.societies.android.platform.personalisation.impl.PersonalisationManagerAndroidRemote"
        	android:label="SocietiesPersonalisation">
           <intent-filter>
                <action android:name="org.societies.android.platform.personalisation.impl.PersonalisationManagerAndroidRemote"></action>
   			</intent-filter>
        </service>
        <service
        	android:name="org.societies.android.platform.events.ServicePlatformEventsRemote"
        	android:label="SocietiesEvents">
           <intent-filter>
                <action android:name="org.societies.android.platform.events.ServicePlatformEventsRemote"></action>
   			</intent-filter>
        </service>
        <provider 
            android:authorities="org.societies.android.platform.content.androidcssmanager"
            android:name="org.societies.android.platform.content.ProviderImplementation"
            android:exported="true"
            android:label="SocietiesCSSContentProvider">
        </provider>
        
         
    </application>

</manifest>
