{% extends "SocietiesTestEngineBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Nodes{% endblock %}
 
{% block body %}
{{ parent() }}

{# 	<ul>#}
{# 		{% for item in node_ids_list %}#}
	 		
{# 	 		<li> {{ item.nodeId }} </li>#}
  		
{# 		{% endfor %}#}
{# 	</ul>#}

{% endblock %}