<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.societies.android.platform"
    android:versionCode="1"
    android:versionName="1.0" >

<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>

<!-- Permission needed to read social data from SocialProvider -->
<permission
    android:name="org.societies.android.SocialProvider.READ"
    android:label="@string/provider_read_permission"
    android:protectionLevel="dangerous"
    android:description="@string/provider_read_permission_desc">
</permission>
<!-- Permission needed to write social data to SocialProvider -->
<permission
    android:name="org.societies.android.SocialProvider.WRITE"
    android:label="@string/provider_write_permission"
    android:protectionLevel="dangerous"
    android:description="@string/provider_write_permission_desc">
</permission>
    
<application
	android:debuggable="true"
	android:icon="@drawable/ic_launcher"
    android:label="@string/app_name" >
    <activity
    	android:name=".SocialProviderActivity"
        android:label="@string/app_name" >
        <intent-filter>
        	<action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <provider
        android:name="org.societies.android.platform.SocialProvider"
        android:authorities="@string/provider_authority"
        android:exported="true"
        android:syncable="true"
        android:enabled="true"
        android:readPermission="org.societies.android.SocialProvider.READ"
        android:writePermission="org.societies.android.SocialProvider.WRITE">
    </provider>
    
</application>

</manifest>