<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                      http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <osgi:reference id="commMngrRef" interface="org.societies.api.comm.xmpp.interfaces.ICommManager"/>
    <osgi:reference id="CisManagementBundle" interface="org.societies.api.cis.management.ICisManager"/>
    <osgi:reference id="cisDirectoryRemote" interface="org.societies.api.cis.directory.ICisDirectoryRemote"/>
    <osgi:reference id="userPreferenceConditionMonitor"
                    interface="org.societies.personalisation.preference.api.UserPreferenceConditionMonitor.IUserPreferenceConditionMonitor"/>

    <osgi:reference id="internalCtxBroker" interface="org.societies.api.internal.context.broker.ICtxBroker"/>

    <!--TODO : Should not be using cardinality 0..1, this needs to be updated but since privacy api changed and IPrivacyPolicyManagerRemote
    no longer available, not just cardinality that needs to be changed, code does too. So leaving this for now, as that bundle deploys -->
    <osgi:reference id="privacyPolicyManager"
                    interface="org.societies.api.internal.privacytrust.privacyprotection.IPrivacyPolicyManager"
                    cardinality="0..1"/>
    <osgi:reference id="privacyPolicyManagerRemote"
                    interface="org.societies.api.internal.privacytrust.privacyprotection.remote.IPrivacyPolicyManagerRemote"
                    cardinality="0..1"/>

    <!--Required for service discovery-->
    <osgi:reference id="serviceDiscovery" interface="org.societies.api.internal.servicelifecycle.IServiceDiscovery"
                    cardinality="0..1"/>

</beans>
