<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>/index.xhtml</welcome-file>
    </welcome-file-list>

    <display-name>societies web-app</display-name>

    <description>Societies Platform webapplication</description>

    <!-- OSGI aware web application context declaration -->
    <context-param>
        <param-name>contextClass</param-name>
        <!--<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>-->
        <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
        <!--<param-value>org.societies.osgi.OsgiWebBundleContext</param-value>-->
        <!--Apparently we should be using the org.eclipse context: http://cubiccow.blogspot.co.uk/2012/06/spring-in-osgi-environments.html-->
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- JSF mapping -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/societies-servlet.xml</param-value>
        </init-param>
        <init-param>
            <param-name>contextClass</param-name>
            <!--<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>-->
            <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
            <!--<param-value>org.societies.osgi.OsgiWebBundleContext</param-value>-->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
        <init-param>
            <param-name>contextClass</param-name>
            &lt;!&ndash;<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>&ndash;&gt;
            <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
            &lt;!&ndash;<param-value>org.societies.osgi.OsgiWebBundleContext</param-value>&ndash;&gt;
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>-->


    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <!-- Map these files with JSF -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

    <!-- OLD JSP STUFF -->

    <!-- name of the servlet to register,
    Note: the xml configuration should match format of {servlet-name}-servlet.xml also
    located under WEB-INF folder. Otherwise you have to define custom location and name
    under servlet declaration -->
    <!--
        <servlet>
            <servlet-name>societies</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>

        <servlet-mapping>
            <servlet-name>societies</servlet-name>
            <url-pattern>*.html</url-pattern>
        </servlet-mapping>-->

</web-app>
