.slidemenu {
position: absolute;
top: 0px;
left: 0px;
width: 0px;
height: 100%;
background-color: #000000;
-webkit-box-shadow: 3px 0px 5px -2px #32394A;
box-shadow: 3px 0px 5px -2px #32394A;
z-index: 2147483647;
display: none;
overflow: auto;
-webkit-overflow-scrolling: touch;
}

.slidemenu h3{
font-size:18px;
font-family: Roboto-Regular;
color:#eea354;
margin:0;
padding:47px 0px 4px 10px;
background: rgb(67,74,94); /* Old browsers */
background: -moz-linear-gradient(top, rgba(67,74,94,1) 0%, rgba(57,64,82,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,74,94,1)), color-stop(100%,rgba(57,64,82,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(67,74,94,1) 0%,rgba(57,64,82,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(67,74,94,1) 0%,rgba(57,64,82,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(67,74,94,1) 0%,rgba(57,64,82,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(67,74,94,1) 0%,rgba(57,64,82,1) 100%); /* W3C */
border-top:solid #4E5567 1px;
border-bottom:solid #242A37 1px;
}

.slidemenu ul {
margin: 0;
padding: 0;
width: inherit;
}

.slidemenu ul li {
list-style-type: none;
margin: 0px 0;
}

.slidemenu ul li a:link, .slidemenu ul li a:visited {
border-top: 1px #3E4555 solid;
border-bottom: 1px #191D27 solid;
color: #DBE0E8;
font-size: 16px;
font-family: Roboto-Regular;
text-decoration: none;
width: 230px;
display: block;
padding: 10px 0px 10px 10px;
text-shadow: 0px 1px 1px #212631;
}


.slidemenu input {
background-color: inherit;
border-top: 1px #3E4555 solid;
border-bottom: 1px #191D27 solid;
border-left: 0px;
border-right: 0px;
color: #DBE0E8;
font-size: 16px;
font-family: Roboto-Regular;
text-decoration: none;
width: 230px;
display: block;
padding: 10px 0px 10px 10px;
text-shadow: 0px 1px 1px #212631;
text-align: left;
}

.slidemenu input:hover {
background-color: #0c517e;
border-top: 1px #3E4555 solid;
border-bottom: 1px #191D27 solid;
border-left: 0px;
border-right: 0px;
color: #DBE0E8;
font-size: 16px;
font-family: Roboto-Regular;
text-decoration: none;
width: 230px;
display: block;
padding: 10px 0px 10px 10px;
text-shadow: 0px 1px 1px #212631;
text-align: left;
}

.slidemenu input:active {
background-color: #137ec4;
border-top: 1px #3E4555 solid;
border-bottom: 1px #191D27 solid;
border-left: 0px;
border-right: 0px;
color: #DBE0E8;
font-size: 16px;
font-family: Roboto-Regular;
text-decoration: none;
width: 230px;
display: block;
padding: 10px 0px 10px 10px;
text-shadow: 0px 1px 1px #212631;
text-align: left;
}

.slidemenu ul li img {
margin-right:8px;
}


.slidemenu_btn .ui-btn-inner {
border-top: 0px;
}

.slidemenu_btn .ui-icon {
margin: 4px 1px 2px 2px !important;
width: 25px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}



.slidemenu_btn.ui-btn-icon-notext {
width: 41px;
height: 38px;
margin-top:20px;
background-image: url("../../images/menu_icon.png") !important;
background-repeat:no-repeat;
background-color:#000;
border:none;
}

/* THESE ARE JUST EXAMPLE STYLES BELOW */

#profile {
background-color:#32394A;
border-bottom: 1px solid #242A37;
overflow: hidden;
height: 58px;
font-family: Arial, Helvetica, sans-serif;
}

.profile_info {
position: relative;
left: 68px;
top:-49px;
font-size: 14px;
color: #C4CCDA;
text-shadow: 0 0px 0 black;
}