<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2011, SOCIETIES 
	Consortium (WATERFORD INSTITUTE OF TECHNOLOGY (TSSG), HERIOT-WATT UNIVERSITY 
	(HWU), SOLUTA.NET (SN), GERMAN AEROSPACE CENTRE (Deutsches Zentrum fuer Luft- 
	und Raumfahrt e.V.) (DLR), Zavod za varnostne tehnologije informacijske družbe 
	in elektronsko poslovanje (SETCCE), INSTITUTE OF COMMUNICATION AND COMPUTER 
	SYSTEMS (ICCS), LAKE COMMUNICATIONS (LAKE), INTEL PERFORMANCE LEARNING SOLUTIONS 
	LTD (INTEL), PORTUGAL TELECOM INOVAÇÃO, SA (PTIN), IBM Corp., INSTITUT TELECOM 
	(ITSUD), AMITEC DIACHYTI EFYIA PLIROFORIKI KAI EPIKINONIES ETERIA PERIORISMENIS 
	EFTHINIS (AMITEC), TELECOM ITALIA S.p.a.(TI), TRIALOG (TRIALOG), Stiftelsen 
	SINTEF (SINTEF), NEC EUROPE LTD (NEC)) All rights reserved. Redistribution 
	and use in source and binary forms, with or without modification, are permitted 
	provided that the following conditions are met: 1. Redistributions of source 
	code must retain the above copyright notice, this list of conditions and 
	the following disclaimer. 2. Redistributions in binary form must reproduce 
	the above copyright notice, this list of conditions and the following disclaimer 
	in the documentation and/or other materials provided with the distribution. 
	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
	AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
	ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE 
	LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
	SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
	CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
	OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE 
	USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx"
    >
	
	
	    <!-- Scans the classpath of this application for @Components to deploy as beans --> 

<!--       <context:component-scan base-package="com.raistudies" /> -->  

    

     <!-- Configures the @Controller programming model --> 

     <mvc:annotation-driven />  
	
	
	<osgi:reference id="CommManager" interface="org.societies.api.comm.xmpp.interfaces.ICommManager"/>
	<osgi:reference id="SignatureManager" interface="org.societies.api.security.digsig.ISignatureMgr"/>
	<osgi:reference id="dataSource" interface="javax.sql.DataSource" />
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">${show_sql:false}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${cache.use_second_level_cache:false}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hbm2ddl.auto:update}</prop>
				<prop key="hibernate.format_sql">${format_sql:true}</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
			    <value>org.societies.domainauthority.rest.model.Resource</value>
			    <value>org.societies.domainauthority.rest.model.Document</value>
			</list>
		</property>

		<property name="annotatedPackages">
			<list>
				<value>org.societies.domainauthority.rest.model</value>
			</list>
		</property>
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="resourceDao" class="org.societies.domainauthority.rest.dao.ResourceDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="documentDao" class="org.societies.domainauthority.rest.dao.DocumentDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
			
	<bean id="daRestProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true"></property>
		<property name="locations">
			<list>
				<value>classpath:WEB-INF/org.societies.local.properties</value>
				<value>file:${CONFIG_DIR}/org.societies.platform.properties</value>
			</list>
		</property>
	</bean>

	<bean id="clientJar"
		class="org.societies.domainauthority.rest.control.ServiceClientJarAccess"
  		init-method="init"
  		>
  		<property name="sigMgr" ref="SignatureManager"/>
  		<property name="accessControlEnabled" value="${domain_authority.rest.access_control_enabled}" />
        <property name="resourceDao" ref="resourceDao"/>
  	</bean>

	<bean id="xmlDocumentAccess"
		class="org.societies.domainauthority.rest.control.XmlDocumentAccess"
  		init-method="init"
  		>
  		<property name="sigMgr" ref="SignatureManager"/>
        <property name="documentDao" ref="documentDao"/>
  	</bean>
	
	<bean id="DomainAuthorityRestCommsServer"
		class="org.societies.domainauthority.rest.comms.CommsServer"
		depends-on="CommManager"
		init-method="init"
  		>
  		<property name="commMgr" ref="CommManager"/>
        <property name="clientJarServer" ref="clientJar"/>
	</bean>

	<osgi:service ref="clientJar" interface="org.societies.api.internal.domainauthority.IClientJarServer" />
	
</beans>
