<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- OSGI aware web application context declaration -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
        <servlet-name>clientjar</servlet-name>
        <servlet-class>org.societies.domainauthority.rest.server.ServiceClientJar</servlet-class>
    </servlet>
    
	<servlet>
        <servlet-name>xmldocument</servlet-name>
        <servlet-class>org.societies.domainauthority.rest.server.XmlDocument</servlet-class>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>clientjar</servlet-name>
        <url-pattern>/serviceclient/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
        <servlet-name>xmldocument</servlet-name>
        <url-pattern>/xmldocs/*</url-pattern>
    </servlet-mapping>
</web-app>
