html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, cite,
del, em, img, q,
small, strong, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure,
footer, header, menu, nav, section, summary,
time {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* HTML5 tags */
article, aside, section, footer, header, nav, figure {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    background: #202020 url(../images/body-default.jpg) repeat;
    font-size: 12px;
    font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
    color: #000;
}

/* a
-------------------------------------------------------------- */
a {
    color: #5798d1;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a span {
    font-size: 90%;
}

a img {
    outline: 0;
}

.toplink {
    color: #777c82;
    border: none;
    background: #d6d9dd;
    padding: 0 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.toplink:hover {
    color: #fff !important;
    border: none;
    background: #313639;
    text-decoration: none
}

.footer .toplink:hover {
    text-decoration: none
}

/* Text Buttons - textlink
-------------------------------------------------------------- */
.textlink {
}

a.textlink {
    border: 1px solid #d6d9dd;
    background: #f1f1f1;
    font-size: 11px;
    margin: -3px 0 0 0;
    font-weight: bold;
    padding: 8px 8px;
    color: #313639;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none
}

a.textlink:hover {
    background: #F26A36;
    color: #fff;
    border: 1px solid #313639;
    text-decoration: none
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #777c82;
}

.breadcrumbs a {
    color: #313639;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 21px;
}

h6 {
    font-size: 18px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

/* li with orange bullets */
li {
    margin-left: 20px;
    position: relative;
    list-style: disc inside url(../images/bullet.png);

}

/* p */
p {
    color: #313639;
    font-size: 14px;
}

p,
li,
dl {
    line-height: 21px;
}

p,
dl,
hr,
ol,
ul,
pre,
table,
fieldset {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

/* img */
img {
    margin-bottom: 0;
    border: 0px solid #000;
}

.post img {
    margin-bottom: 15px;
}

blockquote {
    font-size: 12px;
    line-height: 18px;
    color: #777c82;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 2px solid #FAA43E;
    width: 85%
}

/* wrapper*/
.wrapper {
    margin: 0;
    padding: 0;
    background: transparent url(../images/wrapbackground.png) center repeat-y;
}

.container {
    background: #fafafa url(../images/container-BG.jpg) 0 90px no-repeat;
    color: #777C82;
}

ul li ul,
ol li ol {
    margin-bottom: 0px;
}

ol {
    padding: 0 0 0 5px;
}

/* GRID*/
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
}

.float {
    display: inline;
    float: left;
    position: relative;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.container_12 .grid_1 {
    width: 45px;
}

.container_12 .grid_2 {
    width: 130px;
}

.container_12 .grid_3 {
    width: 215px;
}

.container_12 .grid_4 {
    width: 290px;
}

.container_12 .grid_5 {
    width: 385px;
}

.container_12 .grid_6 {
    width: 470px;
}

.container_12 .grid_7 {
    width: 555px;
}

.container_12 .grid_8 {
    width: 640px;
}

.container_12 .grid_9 {
    width: 725px;
}

.container_12 .grid_10 {
    width: 810px;
}

.container_12 .grid_11 {
    width: 895px;
}

.container_12 .grid_12 {
    width: 960px;
}

/* hr
-------------------------------------------------------------- */
.hr {
    border: none;
    clear: both;
    height: 0;
    line-height: 0;
    width: 100%;
    font-size: 0;
    padding: 0;
    margin-bottom: 20px;
}

/* float right and left
-------------------------------------------------------------- */
.right {
    float: right;
}

.left {
    float: left;
}

/* clear
-------------------------------------------------------------- */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Header
-------------------------------------------------------------- */
.header,
#header {
    margin: 0;
    padding: 0;
    background: url(../images/societies_GUI_v1.png) 0 -470px no-repeat;
    width: 1020px;
    z-index: 1000;
    min-height: 90px;
}

/* Logo
-------------------------------------------------------------- */
h1#logo {
    margin: 0;
    padding: 15px 0px 0px 20px;
}

h1#logo img {
    border: none;
    margin: 0px;
}

h1#logo.grid_4 {
    width: 210px
}

/* WebMenu Navigation
-------------------------------------------------------------- */
ul#navigation {
    text-transform: uppercase;
    float: right;
    width: 70%;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
}

ul#navigation li {
    float: right;
    display: inline;
    margin: 0 0 0 1px;
}

ul#navigation li a {
    display: block;
    font-family: 'Lucida Grande', Arial, Helvetica, sans-serif !important;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
}

ul#navigation li a:hover {
    color: #fff;
    background: #000;
}

ul#navigation li a.current {
    color: #fff;
}

ul#navigation ul {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    width: 170px;
    z-index: 99999;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    background: #000;
    border-top: 25px solid #000;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul#navigation ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 170px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    width: 170px;
    z-index: 99999;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    background: #000;
    border-top: 4px solid #000;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul#navigation ul li {
    width: 100%;
}

ul#navigation ul li a,
ul#navigation ul ul li a {
    background: #000;
    display: block;
    padding: 10px 15px;
    margin: 0;
    color: #ccc;
    border-right: none;
    font-size: 11px;
}

ul#navigation ul li a:hover {
    background: #222;
    color: #fff;
}

ul#navigation ul ul ul {
    left: 100%;
    top: -4px;
}

/* Notification bubble
-------------------------------------------------------------- */
#navigation div.notification-bubble {
    width: 24px;
    height: 24px;
    margin-top: 34px;
    padding: 0;
    background-image: url('../images/world_web_24x24.png');
    display: block;
}

#navigation div.notification-bubble a {
    width: 24px;
    height: 24px;
    text-align: right;
    vertical-align: middle;
    padding: 0;
}

#navigation div.notification-bubble span#mainForm\:notification-count {
	position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: -10px 0 0 -10px;
    padding: 0 5px 0 5px;
    background-color:#F26A36;
	color:#ffffff;
	font-weight:bold;
	font-size:0.80em;	
	border-radius:2px;
	box-shadow:1px 1px 1px gray;
}

div#mainForm\:notificationDialog #mainForm\:notificationGrid_content {
    border: none;
}

/* Left Column
-------------------------------------------------------------- */
.left_col,
#left_col {

    margin-right: 0;
}

/* Right Column / Sidebar
-------------------------------------------------------------- */
.sidebar_right,
#sidebar_right {
    margin-left: 30px;
    margin-right: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    width: 288px;
    border: 1px solid #d6d9dd;
}

.sidebar_top_BG {
    height: 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
}

.sidebar_bottom_BG {
    height: 50px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #fff;
}

.sidebar_right h3,
#sidebar_right h3 {
    color: #313639;
    font-size: 24px;
    border-bottom: 2px solid #d6d9dd;
    width: 250px;
    padding: 10px 0 15px 0;
    margin: 0 20px;
    background: transparent;
}

ul.contact_data {
    margin-left: 0;
    margin-top: 0;
}

ul.contact_data li {
    list-style: none
}

/* Sidebar Lists
-------------------------------------------------------------- */
ul.sidebar {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

ul.sidebar li {
    margin: 0;
    padding: 0 20px;
    list-style: none
}

ul.sidebar a {
    width: 225px;
    display: inline-block;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #d6d9dd;
    text-decoration: none;
    color: #313639;
    font-weight: bold;
    background: transparent url(../images/societies_GUI_v1.png) -600px -120px no-repeat;
}

ul.sidebar li:last-child a {
}

ul.sidebar li:first-child a {
}

ul.sidebar a:hover {
    background: #fafafa url(../images/societies_GUI_v1.png) -600px -180px no-repeat;
}

/* Homepage Box Buttons
-------------------------------------------------------------- */
.homebox_entries {
    background: transparent
}

.homebox_entries.grid_12 {
    margin-left: 30px;
    margin-right: 30px
}

h3.box_title,
h4.box_title {
    color: #B7B3B3;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-left: 220px;
    padding-top: 20px;
}

a .title {
    color: #777c82;
    line-height: 24px;
    font-size: 14px
}

/* Home Box Button Grid*/
.homeboxgrid {
    width: 270px;
    display: inline;
    float: left;
    position: relative;
    margin: 0;
    margin-left: 1px;
    margin-bottom: 1px;
    padding: 20px 20px 0 20px;
    min-height: 150px
}

a.homeboxgrid {
    text-decoration: none;
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #CCCCCC;
}

.box {
    background: #1d5579;
}

.box:hover {
    background: #313639;
    text-decoration: none
}

.boxhr {
    margin-bottom: 0;
}

/* Main image on homepage
-------------------------------------------------------------- */
.featured.grid_12,
#featured.grid_12 {
    margin: 0 10px 0 10px;
    padding-top: 20px;
}

.featured,
#featured {
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
}

/* bordered space
-------------------------------------------------------------- */
.post {
    border-bottom: 2px solid #d6d9dd;
    padding-bottom: 0;
    margin-bottom: 20px
}

/*
--------------------------------------------- */
.keyinfo {
    background: #fff
}

.keyinfolist {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.keyinfolist li {
    width: 100%;
    clear: both;
    float: left;
    padding: 20px 0 0 0;
    list-style: none;
    margin: 0;
    position: relative;
    border-bottom: 2px solid #d6d9dd;
    padding-bottom: 20px
}

/*----Content Details---------------------------------------------------- */
.keyinfo_content {
    float: left;
    width: 83%;
}

.keyinfometadata {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    color: #777c82
}

.keyinfo-reply-link {
    text-decoration: none;
    font-size: 10px;
}

a.keyinfo-reply-link {
    padding: 3px;
}

/* button reply */
.keyinfo-reply-link {
    text-align: center;
    display: block;
    border: 1px solid #F99B1C;
    background: #F7961B;
    border: 1px solid #F99B1C;
    font-size: 11px;
    margin: -3px 0 0 0;
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.keyinfo-reply-link:hover {
    border: 1px solid #F99B1C;
    background: #f26a36;
    color: #fff;
    text-decoration: none
}

.keyinfo_text {
    clear: both;
    margin-top: 10px;
    margin-left: 10px;
}

.keyinfo_text p {
    font-size: 13px;
    color: #777c82
}

/*
-----Gravtar/Profile Pic---------------------------------------------------- */
.gravatar {
    float: left;
    width: 60px;
    padding: 0px 10px 0 0;
    margin-left: 15px;
    text-align: center;
}

.gravatar img {
    background: #fff;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

/*
-----INFO BADGE about Author or Profile---------------------------------------------------- */
.bypostauthor {
    background: #fff url(../images/infobadge_BG.jpg) top right no-repeat;
}

/* button further info */
.furtherinfo-link {
    text-decoration: none;
    font-size: 10px;
}

a.furtherinfo-link {
    padding: 3px;
}

.furtherinfo-link {
    text-align: center;
    display: block;
    border: 1px solid #659FCB;
    background: #0C517E;
    font-size: 11px;
    margin: -3px 0 0 0;
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.furtherinfo-link:hover {
    border: 1px solid #659FCB;
    background: #5C93C2;
    color: #fff;
    text-decoration: none
}

/* Author or Persons Name */
.author_name {
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

.author_name a {
    color: #0C517E;
}

/* A lis style */
.itemlist h3 {
    font-size: 24px;
    font-style: italic;
}

.itemlist p {
    margin-bottom: 0
}

/* Form Style and Elements
-------------------------------------------------------------- */
/* Hides the Error and message under fields
-------------------------------------------------------------- */
.error {
    display: none;
}

.success {
    display: none;
    margin-top: 20px;
    padding-left: 110px;
}

/* Error Message Color----------------*/
p.error {
    margin-left: 110px;
    margin-top: 10px;
    color: #f26a36;
    font-size: 11px
}

/* Form and Person Titles------------ */
h3.form_title {
    padding-top: 20px
}

h3.person_title {
    padding-top: 20px
}

/* Form ul----------------------- */
.form_style_main ul {
    float: left;
    list-style: none;
    margin: 0;
    width: 100%;
    border-top: 2px solid #d6d9dd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_style_main ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}

.form_style_main label {
    width: 100px;
    text-align: left;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

/* Form Send Button--------------- */
.sendButton {
    color: #ffffff;
    background: -moz-linear-gradient(center top, #f7961b, #f26a36);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7961b), to(#f26a36));
    background: -o-linear-gradient(top, #f7961b, #f26a36);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7961b', EndColorStr='#f26a36');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    margin: 20px 0 0 110px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}

.sendButton:hover {
    color: #fff;
    border: 1px solid #000;
    background: #F26a36;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#f26a36, endColorStr=#f26a36);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f26a36666,endColorStr=#f26a36666)";
    background: -webkit-gradient(linear, left top, left bottom, from(#f26a36), to(#f26a36));
    background: -moz-linear-gradient(top, #f26a36, #f26a36);
    text-decoration: none
}

/* IMPORTANT SIGNUP Form Input Styles----------------------- */
.form_style_main input.smalltext,
.form_style_main textarea {
    float: left;
    padding: 8px;
    border: 1px solid #d6d9dd;
    margin-left: 0;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}

.form_style_main input.smalltext:focus,
.form_style_main textarea:focus {
    border: 1px solid #777c82;
}

.form_style_main input.smalltext {
    width: 400px;
}

.form_style_main textarea {
    width: 500px;
    height: 150px;
    resize: none;
}

/****** Select box style ******/

.select-wrapper {
    width: 250px;
    float: left;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}

.select-wrapper {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -ms-linear-gradient(top, #ffffff, #efefef);
    background-image: -o-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
    -pie-background: linear-gradient(top, #ffffff, #efefef);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

.selectTop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6px 10px;
}

.select-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    pointer-events: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -ms-linear-gradient(top, #ffffff, #efefef);
    background-image: -o-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.select-wrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border: 6px solid transparent;
    border-top: 6px solid #444;
    pointer-events: none;
}

.ie .select-wrapper:before, .ie9 .select-wrapper:before {
    display: none;
}

select {
    width: 240px;
    height: 24px;
    padding: 8px 0 4px 10px;
    border: 0;
    background: transparent none;
    outline: none;
    font: 13px 'Lucida Grande', Arial, Helvetica, sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

select::-moz-focus-inner {
    border: 0;
}

select option {
    background: #ededed;
    height: 24px;
    width: 100%;
    padding: 10px 0 2px 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/****** Radio button style ******/
label {
    margin-right: 10px;
    float: left;
    clear: both;
    /*width: 250px;*/
    /* Seriously? */
}

div.option-group {
    float: left;
    width: 300px;
    margin-bottom: 40px;
}

.option-group label {
    width: 260px;
    margin: 0 0 20px 10px;
    float: left;
    clear: none;
    position: relative;
    line-height: 1;
    font-weight: normal;
}

.option-group input[type=radio] {
    float: left;
    clear: both;
    opacity: 0;
    outline: none;
}

.option-group.radio label:before, .ie .option-group.radio label .before {
    content: '';
    position: absolute;
    top: -2px;
    left: -30px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -ms-linear-gradient(top, #ffffff, #efefef);
    background-image: -o-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
    -pie-background: linear-gradient(top, #ffffff, #efefef);
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.ie .option-group.radio label:before {
    display: none;
}

.option-group.radio input[type=radio]:checked + label:after, .ie .option-group.radio label .after {
    content: '';
    position: absolute;
    top: 3px;
    left: -25px;
    z-index: 2;
    width: 7px;
    height: 7px;
    background: #444;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.ie .option-group.radio label:after, .ie .option-group.radio label .after {
    display: none;
    border-radius: 0;
}

.ie .option-group.radio label.checked .after {
    display: block;
    border-radius: 7px;
}

.option-group.radio input[type=radio]:checked + label:before, .ie .option-group.radio label.checked .before {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
    background-image: -moz-linear-gradient(top, #efefef, #ffffff);
    background-image: -ms-linear-gradient(top, #efefef, #ffffff);
    background-image: -o-linear-gradient(top, #efefef, #ffffff);
    background-image: linear-gradient(top, #efefef, #ffffff);
    -pie-background: linear-gradient(top, #efefef, #ffffff);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* -------------------- CHECK BOX STYLING ------------------------*/
.option-group input[type=checkbox] {
    float: left;
    clear: both;
    opacity: 0;
    outline: none;
}

.option-group.check label:before, .ie .option-group.check label .before {
    content: '';
    position: absolute;
    top: -1px;
    left: -30px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -ms-linear-gradient(top, #ffffff, #efefef);
    background-image: -o-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
    -pie-background: linear-gradient(top, #ffffff, #efefef);
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.ie .option-group.check label:before {
    display: none;
}

.option-group.check input[type=checkbox]:checked + label:after, .ie .option-group.check label.checked .after {
    content: '';
    position: absolute;
    top: 2px;
    left: -24px;
    width: 3px;
    height: 8px;
    border-bottom: 2px solid #444;
    border-right: 2px solid #444;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
    zoom: 1;
}

.ie .option-group.check label.checked .after {
    left: -26px;
}

.option-group.check input[type=checkbox]:checked + label:before, .ie .option-group.check label.checked .before {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
    background-image: -moz-linear-gradient(top, #efefef, #ffffff);
    background-image: -ms-linear-gradient(top, #efefef, #ffffff);
    background-image: -o-linear-gradient(top, #efefef, #ffffff);
    background-image: linear-gradient(top, #efefef, #ffffff);
    -pie-background: linear-gradient(top, #efefef, #ffffff);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* -------------------- Accordion Menu Styling ------------------------*/

.accordion div.accordion-menu-header a,
#accordion div.accordion-menu-header a {
    margin-left: 19px;
    font-size: 16px;
    color: #fff;
}

.accordion div.accordion-menu-header a:hover,
#accordion div.accordion-menu-header a:hover {
    text-decoration: none;
}

.accordion div.accordion-menu-header,
#accordion div.accordion-menu-header {
    background-color: #000;
    margin-bottom: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* -------------------- Search ------------------------*/
.websearchbar {
    height: 54px;
}

.websearchtitle {
    float: left;
}

.groupsearch {
    width: 288px;
    float: right;
}

.websearch-form {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.websearch-form.frame {
    padding: 4px;
    border: 1px solid #D2D1D0;
    background-color: #D2D1D0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#D2D1D0));
    background-image: -webkit-linear-gradient(top, #F6F6F6, #D2D1D0);
    background-image: -moz-linear-gradient(top, #F6F6F6, #D2D1D0);
    background-image: -ms-linear-gradient(top, #F6F6F6, #D2D1D0);
    background-image: -o-linear-gradient(top, #F6F6F6, #D2D1D0);
    background-image: linear-gradient(top, #F6F6F6, #D2D1D0);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.websearch-input {
    width: 196px;
    height: 20px;
    padding: 6px 10px 6px 35px;
    font: 14px 'Lucida Grande', Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
    position: relative;
    background: #fff url(../images/websearch-dark.jpg) 10px center no-repeat;
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.websearch-btn {
    margin-left: 3px;
    width: 32px;
    height: 32px;
    color: #fff;
    font: bold 'Lucida Grande', Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    border: 1px solid #b9b9b9;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #666;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.frame.nobtn .websearch-input {
    width: 235px;
    padding-left: 35px;
    background: #fff url(../images/websearch-dark.jpg) 10px center no-repeat;
}

/*Footer
-------------------------------------------------------------- */
.footer {
    float: left;
    position: relative;
    width: 960px;
    color: #44484e;
    padding: 20px 30px;
    margin: 0 auto;
    background: #fafafa;
}

.footer p {
    font-size: 11px;
    border-top: 2px dashed #d6d9dd;
    padding: 30px 0;
}

.footer a {
    color: #777c82;
}

.footer a.toplink {
    color: #5798d1;
    text-decoration: none;
}

.footer a.toplink:hover {
    color: #111;
    text-decoration: none;
    background: #5798d1;
}

/* Exta Classes */
/* Must remain at the bottom of the stylesheet */
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

* html .clearfix {
    height: 1%;
}

.login-form {
    float: left;
    width: 100%;
    height: 2.2em;
    background-color: #000;
    font-size: 13px;
    color: #cccccc;
}

.login-form a {
    float: right;
    width: 9.5em;
    margin-top: 1.1em;
}

.login-form span {
    float: right;
    width: 9.5em;
    margin-top: 1.1em;
    color: #fff;
}

.logo-pos {
    float: left;
}

ul.social-network {
    float: left;
    list-style: none;
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.social-network li {
    margin: 10px 0;
    padding: 20px;
    list-style: none;
    position: relative;
    display: inline;
}



/* THE END */


