<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/societiesdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>


        <!-- mapping files -->
        <mapping resource="META-INF/hibernate/Action.hbm.xml"/>
        <mapping resource="META-INF/hibernate/Condition.hbm.xml"/>
        <mapping resource="META-INF/hibernate/NegotiationDetailsBean.hbm.xml"/>
        <mapping resource="META-INF/hibernate/RequestItem.hbm.xml"/>
        <mapping resource="META-INF/hibernate/RequestorBean.hbm.xml"/>
        <mapping resource="META-INF/hibernate/Resource.hbm.xml"/>
        <mapping resource="META-INF/hibernate/ResponseItem.hbm.xml"/>
        <mapping resource="META-INF/hibernate/ResponsePolicy.hbm.xml"/>
        <mapping resource="META-INF/hibernate/UserFeedbackBean.hbm.xml"/>
        <mapping resource="META-INF/hibernate/UserFeedbackPrivacyNegotiationEvent.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
