<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.societies.clientframework.contentprovider"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name=".ContentProviderApp">
        
        <service android:name=".services.RemoteService">
                <intent-filter>
                <!-- These are the interfaces supported by the service, which
                     you can bind to. -->
                <action android:name="IRemoteService" />
                <action android:name="IConsumer" />
                <!-- This is an action code you can use to select the service
                     without explicitly supplying the implementation class. -->
            </intent-filter>
        </service>
            
    </application>

        
        
     
</manifest>