<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<welcome-file-list>
   		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	
	<display-name>Societies User GUI</display-name>

	<description>Societies Platform - User Web Application</description>

<!-- OSGI aware web application context declaration -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>societies-gui</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>societies-gui</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- This setting means that sessions will timeout after 10 minutes of activity. -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>
