<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.societies.android.privacytrust"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- Review these permissions and eliminate unwanted ones -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <!-- <service android:name="org.societies.android.privacytrust.datamanagement.service.PrivacyDataManagerExternalService" > android:process=":remoteService"
        </service> -->
        <service android:name="org.societies.android.privacytrust.datamanagement.service.PrivacyDataManagerLocalService" >
        </service>
        <service android:name="org.societies.android.privacytrust.policymanagement.service.PrivacyPolicyManagerLocalService" >
        </service>
    </application>

</manifest>