/* IE7 FIXES
 * 
--------------------------------------------------------- */
/* WebMenu navigation
---------------------------------------------------- */
ul#navigation ul {width: 170px;}

ul#navigation ul ul {
	left: 170px;
	width: 175px;
	}

ul#navigation ul li {width: 100%;}

ul#navigation ul li a,
ul#navigation ul ul li a {
	margin: 0 -5px 0 0;
	}

ul#navigation ul ul ul {
	left: 100%;
	top: -4px;
	}

/* li */
li {list-style-image: none;}


ul.sidebar {
	list-style: none;
	}

ul.sidebar li {
	list-style: none
	}

ul.sidebar li a {margin-left: -16px;}

ul.sidebar a {display: inline-block;}

.commentlink {margin-top: -20px;}

#form_style_main ul li
 {float: left;}

#form_style_main input#name,
#form_style_main input#email,
#form_style_main input#subject,
 {
	width: 600px;
	}

#form_style_main textarea
 {width: 600px;}

p.error {width: 300px;}

.sendButton {width: 120px;text-align:center;margin: 20px 0 0 0;}

ul.contact_data {
	margin-left: -10px;
	margin-top: -10px
	}

ul.contact_data li {
	list-style: none;
	margin-left: 0;
	}