body{width:100%;margin:0;padding:5px 0 0 0;text-align:center;font-size: 12px;font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;color: #000;}
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;margin: 1em 0 .3em 0;}
h1{font-size: 2.1em;}
h2{font-size: 1.8em;}
h3{font-size: 1.2em;}
h4{font-size: 1em;}
a img{border: 0 none;text-decoration: none;}
.greatButton{
-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
box-shadow:inset 0px 1px 0px 0px #fed897;
background-color:#f6b33d;
-webkit-border-top-left-radius:20px;
-moz-border-radius-topleft:20px;
border-top-left-radius:20px;
-webkit-border-top-right-radius:20px;
-moz-border-radius-topright:20px;
border-top-right-radius:20px;
-webkit-border-bottom-right-radius:20px;
-moz-border-radius-bottomright:20px;
border-bottom-right-radius:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomleft:20px;
border-bottom-left-radius:20px;
text-indent:0;
border:1px solid #eda933;
display:inline-block;
color:#ffffff;
font-weight:bold;
font-style:normal;
padding: 0 10px;
height:25px;
line-height: 25px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #cd8a15;
}
.greatButton:hover {background-color:#d29105;}
.greatButton:active{position:relative;top:1px;}
.ok{color:green;}
.error{color:#ff0000;}
.errorblock{
color: #000;
background-color: #ffEEEE;
border: 3px solid #ff0000;
padding: 8px;
margin: 16px;
}
#header{width:100%;padding:0;margin:0 auto;text-align:center;}
#content{width:80%;padding:0;margin:0 auto;text-align:center;}
#footer{width:100%;padding:0;margin:10px auto;clear:both;text-align:center;}
form{width:80%;min-width:300px;padding:0;margin:0 auto;text-align:left;background-color:#BDBDBD;}
form h3,form div{text-align:center;padding:0;margin:0 auto;}
#content input[type="text"],#content input[type="password"]{width:98%;}
#content form .submitBlock{text-align:center;}
table{width:100%;}
#content th{text-align: center;}
.download{width:65%;min-width:200px;}
@media screen and (max-width: 1000px) {
	#content{width:90%;}
	.download{margin:0 auto;}
}
@media screen and (max-width: 500px) {
	#content{width:100%;}
	.download{width:100%;margin:0 auto;}
	.download img{width:100%;min-width:350px;}
}
.downloadBox{width:100%;margin:0 auto;padding:0;}
.downloadBox li{list-style: 0 none;display:inline-block;margin:8px;padding:0;}
.article p{text-align: left;}
.article ul{text-align: left;}
.signup,.signin{width:50%;}
.signup form,.signin form{width:40%;min-width:200px;padding:2px 2px 10px 2px;}
.signup table,.signin table{width:100%;margin-bottom:20px;}
